{% extends 'base.html' %}

{% block title %}Добавить команду SQL{% endblock %}

{% block content %}

{% include 'errors.html' %}
<form method="post">
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            <label for="sql_command" class="h5 mb-0">Добавить команду SQL</label>
        </div>
        <div class="card-body">
            <textarea class="form-control" id="sql_command" name="sql_command" rows="3"
                placeholder="Введите команду SQL" required></textarea>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            <label for="sql_name" class="h5 mb-0">Описание команды</label>
        </div>
        <div class="card-body">
            <textarea class="form-control" id="sql_name" name="sql_name" rows="3"
                placeholder="Введите описание команды" required></textarea>
        </div>
    </div>
    <!-- Операции -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            <div class="h5 mb-0">Операции</div>
        </div>
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Действия">
            <a href="{{ url_for('sql_list_commands.sql_list_commands') }}" class="btn btn-outline-dark">
                     Вернуться к списку
            </a>
            <a href="{{ url_for('add_sql_command.add_sql_command') }}" class="btn btn-outline-dark">
                    Добавить</a>
            <button type="submit" class="btn btn-outline-dark"> Сохранить</button>
        </div>
        </div>
    </div>
</form>
{% endblock %}