{% extends 'base.html' %}

{% block title %}Добавить команду{% endblock %}

{% block content %}

    {% include 'errors.html' %}
    <form method="post">
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <label for="wiki_content">Описание термина</label>
            </div>
            <div class="card-body">
                <textarea class="form-control" id="wiki_content" name="wiki_content" rows="3"
                    placeholder="Введите название" required></textarea>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <label for="wiki_name">Название термина</label>
            </div>
            <div class="card-body">
                <textarea class="form-control" id="wiki_name" name="wiki_name" rows="3"
                    placeholder="Введите описание" required></textarea>
            </div>
        </div>

        <!-- Операции -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <div class="h5 mb-0">Операции</div>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Действия">
                <a href="{{ url_for('wiki_list_page.wiki_list_page') }}" class="btn btn-outline-dark">
                         Вернуться к списку
                </a>
                <a href="{{ url_for('add_wiki.add_wiki') }}" class="btn btn-outline-dark">
                        Добавить</a>
                <button type="submit" class="btn btn-outline-dark"> Сохранить</button>
            </div>
            </div>
        </div>
    </form>
{% endblock %}