{% extends 'base.html' %}

{% block title %}Страница записи{% endblock %}

{% block content %}

    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h4 class="card-title mb-0">Детали записи</h4>
        </div>
        <div class="card-body">
            {% set fields = [
            {'title': 'ID', 'value': wiki_view['wiki_id'], 'class': 'col-md-6'},
            {'title': 'Дата редактирования записи', 'value': wiki_view['wiki_date_edit'], 'class': 'col-md-6'},
            {'title': 'Дата добавления записи', 'value': wiki_view['wiki_date_add'], 'class': 'col-md-6'},
            {'title': 'Название термина', 'value': wiki_view['wiki_name'], 'class': 'col-md-6'},
            {'title': 'Описание термина', 'value': wiki_view['wiki_content'], 'class': 'col-md-12'}
            ] %}

            {% for field in fields %}
            <div class="row mb-3">
                <div class="{{ field.class }}">
                    <h5 class="card-title">{{ field.title }}</h5>
                    <p class="card-text">{{ field.value }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            <div class="h5 mb-0">Операции</div>
        </div>
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Действия">
            <a href="{{ url_for('wiki_list_page.wiki_list_page') }}" class="btn btn-outline-dark">
                     Вернуться к списку</a>
            <a href="{{ url_for('add_wiki.add_wiki') }}" class="btn btn-outline-dark">
                    Добавить новую запись</a>
            <a href="{{ url_for('edit_wiki.edit_wiki', wiki_id=wiki_view['wiki_id']) }}"
                class="btn btn-outline-dark">Редактировать запись</a>
            </div>
                <form
                action="{{ url_for('delete_wiki.delete_wiki', wiki_id=wiki_view['wiki_id'])}}"
                method="POST" class="mt-3">
                <button type="submit" class="btn btn-outline-danger"
                    onclick="return confirm('Вы уверены что хотите удалить запись?')">
                     Удалить запись?
                </button>
            </form>
        </div>
    </div>
{% endblock %}
