{% extends "base.html" %}

{% block title %}WIKI{% endblock %}

{% block content %}

<div class="card mb-4">
    <div class="card-header h3">Wiki</div>
    <div class="card-body">
        <p class="card-text">Всего записей в разделе: <b>{{ wiki_list_count }}</b></p>
        <p class="card-text">
            <a href="{{ url_for('add_wiki.add_wiki') }}" class="btn btn-outline-dark">
                    Добавить новую запись</a>
        </p>
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('wiki_list_page.wiki_list_page', page=page-1) }}"
                class="btn btn-outline-dark">Предыдущая</a>
            {% endif %}

            {% for p in range(1, total_pages + 1) %}
            <a href="{{ url_for('wiki_list_page.wiki_list_page', page=p) }}"
                class="btn btn-outline-dark {% if p == page %}active{% endif %}">{{ p }}</a>
            {% endfor %}

            {% if page < total_pages %} <a
                href="{{ url_for('wiki_list_page.wiki_list_page', page=page+1) }}"
                class="btn btn-outline-dark">Следующая</a>
                {% endif %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Термин</th>
                <th>Описание термина</th>
                <th colspan="2">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for wiki_list in wiki_list %}
            <tr>
                <td>{{ wiki_list['wiki_name'] }}</td>
                <td>{{ wiki_list['wiki_content'] }}</td>
                        <td>
                    <div class="btn-group" role="group" aria-label="Действия">
                        <a href="{{ url_for('edit_wiki.edit_wiki', wiki_id=wiki_list['wiki_id']) }}"
                            class="btn btn-outline-dark btn-sm">
                            Редактировать
                        </a>

                        <a href="{{ url_for('get_wiki.get_wiki', wiki_id=wiki_list['wiki_id']) }}"
                            class="btn btn-outline-dark btn-sm">
                            Посмотреть
                        </a>

                    </div>
                </td>
                <td>
                    <form
                        action="{{ url_for('delete_wiki.delete_wiki', wiki_id=wiki_list['wiki_id']) }}"
                        method="POST" class="d-inline">
                        <button type="submit" class="btn btn-outline-danger btn-sm"
                            onclick="return confirm('Вы точно уверены что хотите удалить запись?')">
                            Удалить</i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}