{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block content %}

   <div class="card mb-2">
      <div class="card-header h3">О проекте</div>
      <div class="card-body">
         <p>Проект первоначально разрабатывался в качестве практики в python, sql, css, html и постепенно перерос в
            полноценное приложение.</p>
         <p>Ниже формы добавления записи отображена таблица со всеми изменениями или добавлениями функционала.</p>
         <ul>
            <li>Python-приложение на основе фреймфорка Flask;</li>
            <li>База данных SQLite (локальный файл базы данных);</li>
         </ul>

         <!-- Форма для добавления новой записи -->

         <form method="POST" action="{{ url_for('about.add_about_name') }}" class="mb-4">
            <div class="form-group">
               <input type="text" class="form-control mb-2" id="about_name" name="about_name"
                  placeholder="Введите содержание записи" required>
            </div>
            <button type="submit" class="btn btn-outline-dark">Добавить запись</button>
         </form>
         <!-- Таблица для отображения списка записей -->
         <table class="table-custom">
            <tbody>
               {% for post in about_list_posts %}
               <tr>
                  <td>{{ post.about_name }}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>

         <!-- Отображение сообщений об ошибках или успехе -->

         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         {% for category, message in messages %}
         <div class="alert alert-{{ category }}">
            {{ message }}
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}

      </div>
   </div>
{% endblock %}