<!doctype html>
<html>

<head>
    <!-- Подключение CSS Bootstrap внутренних файлов -->
	<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
	<!-- Подключение CSS Bootstrap внешних файлов -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Подключаем меню -->
    {% include 'navbar.html' %}
    <div class="main">
        {% block content %}
        {% endblock %}
     </div>
</body>

</html>