{% extends "base.html" %}
{% block title %}Сервисы{% endblock %}
{% block content %}

<div class="card mb-2">
    <div class="card-header h1">Сервисы</div>
    <div class="card-body">
        
            <!-- Генерация пароля -->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                            Генерация пароля
                    </h2>
                </div>
                <div class="card-body">
                    <p>Сгенерировать случайный пароль.</p>
                    <form action="{{ url_for('services.generate_password') }}" method="post">
                        <button type="submit" class="btn btn-outline-dark">Сгенерировать пароль</button>
                    </form>
                    {% if password %}
                    <div class="mt-3">
                        <strong>Сгенерированный пароль:</strong> {{ password }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Бэкапы -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                            Бэкапы
                    </h2>
                </div>
                <div class="card-body">
                    <p>Создание бэкапов баз данных и выгрузка таблиц баз данных в файл Excel.</p>
                    <form action="/backup" method="post">
                        <button type="submit" class="btn btn-outline-dark">Выполнить бэкапы</button>
                    </form>
                    <table class="table-custom">
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <td>{{ file }}</td>
                                <td> <a href="{{ url_for('services.delete_file', filename=file) }}"
                                        class="btn btn-outline-dark"
                                        onclick="return confirm('Вы уверены, что хотите удалить этот файл?')">Удалить
                                        файл</a></td>
                                <td> <a href="{{ url_for('services.download_file', filename=file) }}"
                                        class="btn btn-outline-dark">Скачать файл</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Github -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                            Github
                    </h2>
                </div>
                <div class="card-body">
                    <p>Формирование и отправка коммита на репозиторий приложения.</p>
                    <form action="{{ url_for('services.commit_and_push') }}" method="post">
                        <button type="submit" class="btn btn-outline-dark">Выполнить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>

{% endblock %}